letters{
    font-size: 40px;
    font-weight: bold;
    height: 60px;
    justify-content: center;
}

.letter-grid{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    justify-content: center;
    padding: 5px;
}
